<h2>Attendees</h2>
<h5 class="register"><%= link_to "Register for Regional", new_attendee_path(@event) %></h5>
<div class="rendered">
<ul>
  <% @attendees.each do |attendee| %>
    <li>
      <%= link_to attendee.full_name, attendee_path(attendee) %> - <%= Event.find(attendee.event_id).season %>
    </li>
  <% end %>
</ul>
</div>
