<h2>Upcoming Regionals</h2>

<ul>
  <% @events.each do |event| %>
    <li>
      <%= link_to event.season, event %>
    </li>
  <% end %>
</ul>

<h6><%= link_to "Return to Main Page", abouts_path %></h6>
