<h2><%= @event.location %> <%= link_to("(edit)", edit_event_path(@event)) %></h2>
<header>
        <h1>
      MOTOR-CITY CHAPTER 23<br>
      SPRING REGIONAL
      </h1>
        <h3>
        ROMULUS, MI 48174
      </h3>
        <h1>
        MARCH 24TH - 26TH, 2017
      </h1>
      <h4><%= link_to "All Attendence", users_path%></h4>
    </header>
    <main>
        <div class="intro">
            <p>The <strong>Motor City Chapter is proud to be hosting the LPA District
        5 Spring &#42; SUPER HERO &#42; themed Regional</strong> at the <strong>Sheraton Romulus Airport</strong> in Romulus, Michigan. <strong>Rates are &#36;99.00 per night.</strong> Please call <strong>(734)729-2900</strong> to make your reservations
                today mention
                <strong>&quot;Little People of America&quot;</strong> when calling to make your reservation<br> .... Sheraton Romulus Airport Hotel / 8000 Merriman Rd. / Romulus, MI / 48174 / (734)729-2600 ....</p>
        </div>
        <div class="feeWaiver">
            <h2>Fee Waiver:</h2>
            <p>For those attending their first regional or those that might find it difficult to afford the cost for this regional please contact our District Director, <strong>BEFORE</strong> sending in your registration for a registration fee waiver. The
                fee waiver must be approved by District Director, and only applies to LPA registration costs&#59; <strong>you must also be a paid member of LPA to be
        eligible.</strong> Hotel, meal and miscellaneous expenses are the responsibility of attendee.
            </p>
        </div>

        <div class="quote superman">
            <h2>
          THERE IS A SUPERHERO IN ALL OF US WE JUST NEED THE COURAGE TO PUT ON THE CAPE - Superman
        </h2>
        </div>
        <div class="itinierary">
            <h2>&#42; SUPER FUN ITINERARY &#42;</h2>
            <h4>&#42;FRIDAY EVENING:</h4>
            <p>Hospitality Room awaits you with &quot;<strong>SUPER YUMMY GOODIES</strong>&quot; and a &#42;
                <strong>SUPER HERO TALENT SHOW</strong>&#42;.</p>

            <h4>&#42;SATURDAY:</h4>
            <p>Children&#39;s Room &amp; Parent Metting / General Assembly / Poolside louging / Clothing Exchange / Boccia Ball / Euchre / Buffet Banquet with some EXCITING Special &quot;HERO&quot; Guest / Photo Booth / Raffle / &amp; don&#39;t forget to
                wear your <strong>FAVORITE SUPER HERO outfit</strong>&amp; shine up those super power dancing shoes for a fun night of DJ Dancing!</p>
        </div>
        <div class="clothingExchange">
            <h4>&#42; BERNIE&#39;S CLOTHING EXCHANGE:</h4>
            <h5>Friday &amp; Saturday</h5>
            <p>Please bring any slightly used / new / clothing / coats / shoes / that you want to give away to other fellow LP&#39;s that you may not wear any longer / have no use for / been stuck in the back of your closet or dresser drawers. Bernie will
                have tables set up for your convenience.<br>&#42;Call Bernie with any questions: (telnum)</p>
        </div>
        <div class="schedule">
            <div class="scheduleHeading">
                <h2>&#42;SCHEDULE&#42;</h2>
                <h6>(Dates, Times and Events are subject to change without notice)</h6>
            </div>
            <div class="friday24">
                <h3>&#42;FRIDAY, MARCH 24th:</h3>

                <h3>&#42;REGISTRATION</h3>
                <h5>4:00 PM - 9:00 PM</h5>
                <p>Pick up pre-registration materials or register onsite during this time.</p>

                <h3>CLOTHING EXCHANGE</h3>
                <h5>till the clothes are gone</h5>

                <h3>&#42;HOSPITALITY SUITE</h3>
                <h5>5:00 PM - 8:00 PM</h5>
                <p>Super Yummy Goodies &amp; beverages will be awaiting you when you arrive... and catching up with all your friends will even be better!</p>

                <h3>&#42;SUPER HERO TALENT SHOW</h3>
                <h5>8:00 PM - &#63;</h5>
                <p>Share your AMAZING Unique Hidden Talent with HUGE Applauses!!</p>
            </div>
            <div class="saturday25">
                <h3>&#42;SATURDAY, MARCH 25TH:</h3>

                <h3>&#42;REGISTRATION</h3>
                <h5>8:00 AM - 10:30 AM</h5>

                <h3>&#42;CHILDREN&#39;S ROOM</h3>
                <h5>8:00 AM - 12:00 PM</h5>
                <p>The children&#39;s room will be staffed by Volunteers. We encourage parents to drop off their children off during both the parent meeting and general assembly. The children's room also gives kids of all sizes and ages a change to interact
                    with others their own age. please note the children&#39;s room is designed for kids aged 2 - 11. It is responsiblity of the parent to bring any special items their child may need.</p>

                <h3>&#42;PARENTS MEETING</h3>
                <h5>8:30 AM - 10:00 AM</h5>
                <p>The parent&#39;s meeting is a discussion that includes LP and Average height parents. Always feel free to bring any questions or topic suggestions for the group. This is also a great opportunity for &quot;<strong>NEW&quot; parents whome have questions.</strong></p>

                <h3>&#42;D5 GENERAL ASSEMBLY</h3>
                <h5>10:15 AM - 11:20 AM</h5>
                <p>Come find out what&#39;s happening in District 5 and the Chapters during the general assembly meeting. This will be our <strong>New District Director, Dee Dee Allemon's</strong>first official General Assembly meeting, so please be kind!
                    Don&#39;t be afraid to come with new ideas, questions, concerns, etc... We&#39;re all in this TOGETHER!</p>

                <h3>&#42;LUNCH ON YOUR OWN</h3>
                <h5>12:00 - </h5>

                <h3>&#42;LOUNGING BY THE POOL W/ FAMILY &amp; FRIENDS</h3>
                <h5>1:00 - </h5>

                <h3>&#42;BOCCIA BALL</h3>
                <h5>1:00 - </h5>

                <h3>&#42;EUCHRE TIME - GRAB A FRIEND</h3>
                <h5>1:00 - </h5>

                <h3>&#42;&quot;SUPER HERO&quot; THEMED BUFFET DINNER &amp; RAFFLE</h3>
                <h5>5:30 PM - 8 PM</h5>
                <p><strong>Cocktail hour 5:30 - 6:30</strong> Wear your favorite SUPER HERO outfit &amp; mingle with some very Exciting SUPER HERO'S. <strong>Dinner will be served Buffet Style &#64; 6:30pm.</strong>This is a great night for everyone to mingle,
                    enjoy new &amp; rekindle old friendships. Raffle will be held after dinner.</p>

                <h3>&#42;DJ &quot;SUPER&quot; SANTA</h3>
                <h5>8:00 PM - Midnight</h5>
                <p>DJ &quot;SUPER&quot; Santa will be spinning his &#42;SUPER&#42; hits, so get your dancing shoes on and get ready to boogie! Scott has DJ&#39;d for our group many times before and is really looking forward to celebrating with us again!</p>
            </div>

        </div>
    </main>
</body>
