<h2>Attendences <%= link_to "(+)", new_event_attendence_path(@event) %></h2>

<ul>
  <% @attendences.each do |attendence| %>
    <li>
      <%= link_to "#{attendence.fullName} - #{attendence.event.location}", event_attedence_path(@event, attendence) %>
    </li>
  <% end %>
</ul>
